{% extends "base.html.twig" %}

{% block body %}

<div id="main">
  <div>
    <div class="row-container">
      <h2>Terms of Service</h2>
      <wc-menu-button id="menu-button"></wc-menu-button>
    </div>
    <p>
      This is a demo app.  Use it however you'd like, but we're not responsible for anything.
    </p>
  </div>
</div>
{% endblock %}


